body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 72px;
  margin-bottom: 24px;
}

p {
  font-size: 32px;
  margin-bottom: 24px;
}

button {
  background-color: #F08080;
  color: white;
  padding: 24px 48px;
  font-size: 64px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #FA8072;
}

#qr-result {
  font-size: 128px;
  font-weight: bold;
  margin-top: 24px;
}

#status {
  font-size: 128px;
  font-weight: bold;
  margin-top: 16px;
  color: green;
}

video {
  margin-top: 24px;
}
