.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
}

p {
  font-size: 1.5rem;
}

button {
  background-color: green;
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

#qr-result {
  font-size: 1.5rem;
  margin-top: 2rem;
}

#status {
  font-size: 2rem;
  margin-top: 2rem;
}

video {
  margin-top: 2rem;
}
